<%- unless post.attachments -%>
  <p>No attached file.</p>
<%- else -%>
  <h2>
    <%= post.name %>
  </h2>

  <p id="<%= post.id %>_player"></p>

  <script type='text/javascript'>
  var so_<%= post.id %> = new SWFObject('/flash/player.swf','ply','472','20','9', '#FFFFFF');
  so_<%= post.id %>.addParam('allowfullscreen','true');
  so_<%= post.id %>.addParam('allowscriptaccess','always');
  so_<%= post.id %>.addParam('wmode','opaque');
  so_<%= post.id %>.addParam('flashvars', '&file=<%= attachment_url_for(post) %>&type=sound&backcolor=000000&frontcolor=666666&lightcolor=999999&screencolor=222222');
  so_<%= post.id %>.write('<%= post.id %>_player');
  </script>
<%- end -%>