<%- if post.title && !post.title.empty? -%>
  <h1>
    <%= post.title %>
  </h1>
<%- end -%>

  <ul class="chat">
    <%- colors = [ '#6666CC', '#66CC66', '#CC6666', '#66CCCC', '#CC66CC', '#CCCC66' ] -%>
    <%- lines = post.dialogue.split("\r\n") -%>
    <%- authors = {} -%>
    <%- post.dialogue.split("\r\n").each_with_index do |line, index| -%>
      <%- author = line.split(':').first -%>
      <%- color = authors[author] ||= colors[authors.keys.length % colors.length] -%>
    <li class="message <%= index % 2 == 0 ? 'even' : 'odd' %>">
      <span style="color: <%= color %>; font-weight: bold;"><%= author %>:</span>
      <%= line.split(':').last.strip %>
    </li>
    <%- end -%>
  </ul>