  <h2 class="hreview">
    <abbr class="rating" title="<%= post.rating %>"><%- post.rating.times do -%>★<%- end -%><%- (5 - post.rating).times do -%>✩<%- end -%></abbr>
  <%- if post.link -%>
    <a class="url" href="<%= post.link %>"><span class="item"><%= post.title %></span></a>
  <%- else -%>
    <span class="item"><%= post.title %></span>
  <%- end -%>
  <%- if post.description && !post.description.empty? -%>
    <small class="description">
      &mdash; <%= post.description %>
    </small>
  <%- end -%>
  </h2>