<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>geemus</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="<%= url(:posts, :format => :atom) %>">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= css_include_tag('reset-min', 'master', :bundle => :styles).split('><').join(">\n\t<") %>
    <%= js_include_tag('jquery-1.2.6.min', 'application', 'swfobject', :bundle => :scripts).split('><').join(">\n\t<") %>
  </head>
  <body>

    <div class="main">

      <div class="header">
        <a href="<%= url(:posts) %>">
          <%= image_tag('geemus.png', :alt => 'geemus', :title => 'geemus') %>
        </a>
      </div>

      <%- if session.authenticated? -%>
      <div class="menu">
        <a href="<%= url(:new_post) %>">New Post</a>
        <a href="<%= url(:logout) %>">Logout</a>
      </div>
      <%- end -%>

      <div class="content">
        <%- unless message.empty? -%>
        <span class="message">
          <%= message[:notice] %>
        </span>
        <%- end -%>
    
        <%= catch_content :for_layout %>
      </div>

    </div>

    <div class="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png" />
      </a>
      <a class="mailto" href="mailto:me@geemus.com">me@geemus.com</a>
    </div>

<%= analytics %>
    
  </body>
</html>