<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Muddle</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= js_include_tag 'jquery-1.2.6.min', 'application' %>
    <%= css_include_tag 'reset-min', 'master' %>
  </head>
  <body>

    <h1 class="title"><a href="<%= url(:posts) %>">Muddle</a></h1>

    <%- if logged_in? -%>
    <ul class="navigation">
      <li><a href="<%= url(:new_post) %>">New Post</a></li>
      <li>|</li>
      <li><a href="<%= url(:logout) %>">Logout</a></li>
    </ul>
    <%- end -%>

    <%- unless message.empty? -%>
    <span class="message">
      <%= message %>
    </span>
    <%- end -%>
    
    <%= catch_content :for_layout %>

  </body>
</html>