<% dates = @posts.collect {|post| post.created_at.strftime(default_date_format)}.uniq %>

<% dates.each do |date| %>
<ul class="posts<%= ' border' unless date == dates.last %>">
  <li class="date">
    <h2><%= date %></h2>
  </li>
  <%- posts = [] -%>
  <%- @posts.select {|post| post.created_at.strftime(default_date_format) == date}.each do |post| -%>
    <%- posts << partial(:post, :with => post) %>
  <%- end -%>
  <%= posts.join('<li class="seperator"></li>') %>
</ul>
<% end %>

<%- page = params[:page] && params[:page].to_i || 1 -%>

<%- if page > 1 -%>
  <a href="<%= request.uri + "?page=#{page - 1}&before=#{@posts.first.created_at}" %>">previous</a>
<%- end -%>

<%- if @total_posts > page * Posts::PER_PAGE -%>
  <a href="<%= request.uri + "?page=#{page + 1}&after=#{@posts.last.created_at}" %>">next</a>
<%- end -%>
