<form action="<%= url(:posts) %>" enctype="multipart/form-data" method="post">

  <%- unless @post.errors.empty? -%>
  <span class="warning">
    <ul>
    <%- @post.errors.sort.each do |error| -%>
      <li><%= error %></li>
    <%- end -%>
    </ul>
  </span>
  <%- end -%>
  
  <label for="type" class="required">Post Type</label>
  <select id="type" name="type">
    <%- Post.descendants.each do |descendant| -%>
      <option value="<%= descendant.name %>" <%= 'selected' if @post.couchdb_type == descendant.name %>><%= descendant.name %></option>
    <%- end -%>
  </select>

  <ul>
  <%- Post.descendants.each do |descendant| -%>
    <li class="form" id="<%= descendant.name %>">
      <%= partial "posts/edit/#{descendant.name.downcase}", :with => @post, :as => :post %>
    </li>
  <%- end -%>
  </ul>

  <input type="submit" value="Create Post!">
  
</form>