    <label for="post[rating]" class="required">Rating</label>
    <select id="post[rating]" name="post[rating]">
      <%- 1.upto(5) do |x| -%>
      <option<%= ' selected="yes"' if post.attributes.include?(:rating) && x == post.rating %>><%= x %></option>
      <%- end -%>
    </select>

    <label for="post[title]" class="required">Title</label>
    <input type="text" id="post[title]" name="post[title]" value="<%= post.title if post.attributes.include?(:title) %>" />

    <label for="post[link]" class="optional">Link</label>
    <input type="text" id="post[link]" name="post[link]" value="<%= post.link if post.attributes.include?(:link) %>" />

    <label for="post[description]" class="optional">Description</label>
    <textarea id="post[description]" name="post[description]"><%= post.description if post.attributes.include?(:description) %></textarea>